---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


// body {
//   background-color: #1f1f1f;
//   color: #ffffff;
// }

header {
  border-radius: 8px 8px 0 0;
  background: linear-gradient(#6c5ce7, #706fd3);
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;
  color: #cd6133;
}
header h1 {
  color: #cd6133;
}
section {
  // background: linear-gradient(#f7f1e3, #f7f1e3 700px);
  padding: 15px 20px;
  color: #130f40;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  border-top: 1px solid #fff;
  border-radius: 0 0 8px 8px;
  position: relative;
}
